.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 5%;
}

.Header {
  width: 30%;
}

.Todos {
  width: 70%;
  text-align: left;
  font-size: smaller;
  font-family: Helvetica;
}
