.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 5%;
}

.Header {
  width: 30%;
  padding-bottom: 10px;
}

.Todos {
  width: 70%;
  text-align: left;
  font-size: smaller;
  font-family: Helvetica;
}

.form-container {
  padding: 10px;
  padding-right: 5%;
  border: none;
  color: white;
  cursor: pointer;
}

.form {
  display: flex;
}

.text-input {
  flex: 10;
  padding: 5px;
}

.btn {
  flex: 1;
  background: #596a8b;
  color: white;
  padding: 4px;
  border: none;
}

@media screen and (max-width: 400px) {
  .App{
    flex-direction: column;
  }
  .Header {
    width: 100%;
  }
  .Todos {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  body {
    background-color: lavender;
  }
}